<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Whatever-Burgers</h1>
    <p class="lead">The no BS Burger Joint serves you the burger that you want.</p>
    <p class="lead">We don't just serve some pre-set burger, we serve you whatever burger you want, even if it's a burger with candy buns!</p>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="notDevoured rounded col-lg-4">

<h2 class="text-center">Burgers not devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

  </div>
  <div class="col-lg-4">
    <h2 class="text-center m-1">ADD A BURGER</h2>
<form class="create-form m-1">

  <div class="form-group d-flex justify-content-center m-1">
    <input type="text" id="ca" name="burger_name" class="rounded" placeholder="Craziest burger here!">
  </div>
  <div class="d-flex justify-content-center m-1">
    <button type="submit" class= "btn btn-danger">Add burger</button>
  </div>

  
</form>
  </div>
  <div class="col-lg-4 devoured rounded">
<h2 class="text-center">Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>
  </div>
</div>
</div>






